{% if site.bootcamp %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Blockchain Bootcamp</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="bootcampPanel">
				{% for course in site.bootcamp.courses %}
				<div class="row">
					
					<div class="col-sm-4">
						<img src="{{course.optionalimage1}}" width="50%" height="50%"> <br><br/>
					{% if course.optionalimage2 %}
						<img src="{{course.optionalimage2}}" width="50%" height="50%"> <br><br/>
					{% endif %}
					{% if course.optionalimage3 %}
						<img src="{{course.optionalimage3}}" width="50%" height="50%"> <br><br/>
					{% endif %}
					</div>
									
					<div class="col-sm-4">
						<a target='_blank' href="{{course.link}}">
						{{course.title}}
					</a><br/>
						<i>{{course.date}}</i>
					<br/>
						{{course.description}}
					</div>
						</div><br/>
					<br><br/>
					
					</div>
				  </div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
